# Configuration de la base de données
DB_NAME=kiboo_db
DB_USER=kibooSequelize
DB_PASSWORD=votre_mot_de_passe
DB_HOST=localhost

# Token JWT pour l'authentification
JWT_PRIVATE_TOKEN=votre_token_secret_jwt

# Port du serveur
PORT=3000

# Environnement (development, production, test)
NODE_ENV=production
